@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: rgb(102, 169, 1);
    z-index: 1;
    display: flex;
    justify-content: space-between
}

.logo {
    display: flex;
}

.logo a {
    align-self: center;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 20px;
}

.burger {
    display: flex;
    align-self: center;
    color: white;
    padding-right: 20px;
}

.menu {
    position: fixed;
    bottom: 95vh;
    left: 0;
    right: 0;
    background-color: rgb(102, 169, 1);
    padding: 20px;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    width: 100%;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

/* HEADER */
header {
    background-image: url(img/background.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px black;
    padding: 25% 15%;
    height: 100vh;
}

header h1 span {
    padding-right: 40%;
    overflow: hidden;
}

.greenBar {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
}

/* ABOUT */
.about {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.about p {
    padding: 5px 0px;
}

.description {
    width: 100%;
    padding: 1% 5%;
}

.description ul {
    list-style: none;
}

.spnNumber {
    color: gray;
    font-size: 42px;
}

.spnGreen {
    color: rgb(102, 169, 1);
}

.imgPosture img {
    width: 100%;
    height: auto;
}

li .spnGreen {
    font-size: 26px;
    font-weight: 700;
    padding-right: 5px;
}

.actionBanner {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(102, 169, 1);
    padding: 5%;
    margin-bottom: 5%;
}

.actionBanner div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.actionBanner h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

.actionBanner button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 25px;
    font-size: 22px;
    color: rgb(102, 169, 1);
    background-color: white;
    border: 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px black;
}

.services {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.services div {
    width: 100%;
}