@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: rgb(102, 169, 1);
    z-index: 1;
    display: flex;
    justify-content: space-between
}

.logo {
    display: flex;
}

.logo a {
    align-self: center;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 20px;
}

.burger {
    display: flex;
    align-self: center;
    color: white;
    padding-right: 20px;
}

.menu {
    position: fixed;
    bottom: 95vh;
    left: 0;
    right: 0;
    background-color: rgb(102, 169, 1);
    padding: 20px;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    width: 100%;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

/* HEADER */
header {
    background-image: url(img/background.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px black;
    padding: 25% 15%;
    height: 100vh;
}

header h1 span {
    padding-right: 40%;
    overflow: hidden;
}

.greenBar {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
}

.greenBar img {
    width: 100%;
}



/* ABOUT */
.about {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap
}


.description p {
    padding: 5px 0px;
    font-size: 16px;
}

.description {
    width: 100%;
    padding: 1% 5%;
}

.description ul {
    list-style: none;
}

.description ul li {
    font-size: 16px;
}

.description h3 {
    padding-bottom: 5%;
}

.spnNumber {
    color: gray;
    font-size: 42px;
}

.spnGreen {
    color: rgb(102, 169, 1);
}

.imgPosture {
    width: 100%;
}

.imgPosture img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

li .spnGreen {
    font-size: 26px;
    font-weight: 700;
    padding-right: 5px;
}

.actionBanner {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(102, 169, 1);
    padding: 5%;
    margin-bottom: 5%;
}

.actionBanner div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.actionBanner h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

.actionBanner button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 25px;
    font-size: 22px;
    color: rgb(102, 169, 1);
    background-color: white;
    border: 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px black;
}

.services {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.services h2 {
    font-size: 20px;
}

.services div {
    width: 100%;
}

.speech {
    font-style: italic;
}

.speech span {
    padding-left: 50px;
}

/* PRICING */

.pricing {
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.pricing div {
    margin: 5% auto;
    text-align: center;
    width: 60%;
    box-shadow: 2px 2px 10px 1px rgb(179, 179, 179);
}

.pricing h1 {
    margin: 20px 0;
    font-size: 24px;
}

.pricing button {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
    border: 1px white;
    border-left: 5px solid rgb(102, 169, 1);
    border-right: 5px solid rgb(102, 169, 1);

}

.pricing p {
    font-size: 16px;
    padding: 0 30px;
}

.pricing a {
    font-size: 16px;
    display: block;
    margin: 25px auto;
    color: rgb(102, 169, 1);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    ;
}

.contact {
    width: 100%;
    padding: 3%;
    font-size: 16px;
}

.contact h1 {
    font-size: 32px;
}

.contact span {
    /* padding-right: 5px; */
    width: 25px;

}

.telefon {
    display: block;
    text-decoration: none;
    color: rgb(102, 169, 1);

}

.fa-map-marker-alt {
    color: black;
    text-align: center;
}

.fa-mobile-alt {
    color: black;
    text-align: center;
}

.fa-envelope {
    color: black;
    text-align: center;
}

.mail {
    display: block;
    color: black;
    text-decoration: none;
}

.socials {
    width: 40%;
    padding-right: 10px;
    font-size: 36px;
    text-align: right;
}

.copyright {
    width: 60%;
    font-size: 16px;
    padding-left: 3%;
    height: 36px;
    line-height: 36px;
}

.fa-facebook {
    color: #1094F4;
}

.fa-instagram {
    color: #EF8943;
}

.fa-youtube {
    color: #FF0000;
}

/* Media mobile landscape */

@media (min-width: 640px) and (orientation: landscape) {
    .navbar {
        height: 10vh;
    }

    .burger {
        padding-right: 10px;
        font-size: 24px;
    }

    .menu {
        bottom: 90vh;
        padding: 20px 20px 20px 50px;
    }

    header h1 {
        padding: 10% 15%;

    }

    header h1 span {
        padding-right: 10%;
    }

    .actionBanner {
        padding: 2%;
    }

    .imgPosture img {
        width: 50%;
    }

    .pricing {
        margin-top: 10px;
    }

    .pricing div {
        margin: 3% auto;
    }

    .contact {
        padding: 3%;
    }

    .socials {
        padding-right: 20px;
    }
}

@media (min-width: 720px) and (orientation: portrait) {
    .navbar {
        height: 5vh;
    }

    .logo a {
        font-size: 26px;
    }

    .burger {
        padding-right: 20px;
        font-size: 26px;
    }

    .menu {
        bottom: 95vh;
        padding: 20px 20px 20px 60px;
    }

    .menu li a {
        font-size: 22px;
    }

    header h1 {
        padding: 30% 15%;
        font-size: 46px;
    }

    header h1 span {
        padding-right: 1%;
    }

    .description h1 {
        font-size: 38px;
    }

    .spnNumber {
        font-size: 56px;
    }

    .description ul li {
        font-size: 22px;
    }

    .services h2 {
        font-size: 32px;
    }

    .description p {
        font-size: 26px;
    }

    .imgPosture img {
        width: 70%;
    }

    .pricing {
        margin-top: 10px;
    }

    .pricing div {
        margin: 5% 20%;
        width: 45%;
    }

    .pricing h1 {
        margin: 15px 0;
        font-size: 50px;
    }

    .pricing button {
        height: 46px;
        font-size: 26px;
        margin-bottom: 20px;
    }

    .pricing p {
        font-size: 22px;
    }

    .pricing a {
        font-size: 22px;
    }

    .contact {
        padding: 3%;
    }

    .socials {
        padding-right: 20px;
    }

    .actionBanner {
        padding: 3%;
        margin-bottom: 2%;
    }

    .actionBanner h1 {
        font-size: 35px;
    }

    .actionBanner button {
        padding: 7px 35px;
        font-size: 30px;
        border-radius: 10px;
    }

    .contact {
        font-size: 24px;
    }

    .contact h1 {
        font-size: 40px;
    }

    .socials {
        padding-right: 30px;
        font-size: 56px;
    }

    .copyright {
        font-size: 26px;
        height: 56px;
        line-height: 56px;
    }
}

@media (min-width: 1024px) {
    .navbar {
        height: 5vh;
    }

    .logo a {
        font-size: 26px;
    }

    .burger {
        padding-right: 20px;
        font-size: 26px;
    }

    .menu {
        bottom: 95vh;
        padding: 20px 20px 20px 60px;
    }

    .menu li a {
        font-size: 22px;
    }

    header h1 {
        padding: 18% 20%;
        font-size: 46px;
    }

    header h1 span {
        padding-right: 15%;
    }



    .description {
        width: 50%;
    }

    .description.plans {
        width: 100%;
        padding-top: 100px;
        text-align: center;
    }

    .description ul li {
        font-size: 18px;
    }

    .description p {
        font-size: 18px;
    }

    .spnNumber {
        font-size: 35px;
    }

    .imgPosture {
        width: 50%;
    }

    .imgPosture img {
        width: 80%;
    }

    .pricing {
        margin-top: 5px;
    }

    .pricing div {
        margin: 2% 1%;
        width: 25%;
    }

    .pricing h1 {
        margin: 10px 0;
        font-size: 32px;
    }

    .pricing button {
        height: 36px;
        font-size: 22px;
    }

    .pricing p {
        font-size: 18px;
    }

    .pricing a {
        font-size: 22px;
    }

    .contact {
        padding: 2%;
    }

    .actionBanner {
        padding: 3%;
        margin-bottom: 2%;
    }

    .actionBanner h1 {
        font-size: 32px;
    }

    .actionBanner button {
        padding: 7px 35px;
        font-size: 26px;
        border-radius: 10px;
    }

    .contact {
        font-size: 18px;
    }

    .contact h1 {
        font-size: 32px;
    }

    .socials {
        padding-right: 30px;
        font-size: 36px;
    }

    .copyright {
        font-size: 18px;
        height: 46px;
        line-height: 46px;
        padding-left: 2%;
    }
}

@media (min-width: 1360px) and (orientation:landscape) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5vh;
        background-color: rgb(102, 169, 1);
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        position: static;
        width: 30%;
    }

    .menu {
        position: static;
        height: 5vh;
        line-height: 5vh;
        width: 50%;
        padding: 0px;
        display: flex;
        justify-content: space-around;
    }

    .logo a {
        font-size: 22px;
    }

    .burger {
        display: none;
    }

    .menu li {
        display: inline-block;
    }

    .menu li a {
        font-size: 22px;
    }

    header h1 {
        padding: 12% 15%;
        font-size: 42px;
    }

    header h1 span {
        padding-right: 50%;
    }

    .description {
        width: 50%;
    }

    .description.plans {
        width: 100%;
        padding-top: 100px;
        text-align: center;
    }

    .description ul li {
        font-size: 18px;
    }

    .description p {
        font-size: 18px;
    }

    .spnNumber {
        font-size: 35px;
    }

    .imgPosture {
        width: 50%;
    }

    .imgPosture img {
        width: 80%;
    }

    .pricing {
        margin-top: 5px;
    }

    .pricing div {
        margin: 2% 1%;
        width: 25%;
    }

    .pricing h1 {
        margin: 10px 0;
        font-size: 32px;
    }

    .pricing button {
        height: 36px;
        font-size: 22px;
    }

    .pricing p {
        font-size: 18px;
    }

    .pricing a {
        font-size: 22px;
    }

    .contact {
        padding: 2%;
    }

    .actionBanner {
        padding: 3%;
        margin-bottom: 2%;
    }

    .actionBanner h1 {
        font-size: 32px;
    }

    .actionBanner button {
        padding: 7px 35px;
        font-size: 26px;
        border-radius: 10px;
    }

    .contact {
        font-size: 18px;
    }

    .contact h1 {
        font-size: 32px;
    }

    .socials {
        padding-right: 30px;
        font-size: 36px;
    }

    .copyright {
        font-size: 18px;
        height: 46px;
        line-height: 46px;
        padding-left: 2%;
    }
}

@media (min-width: 1600px) and (orientation:landscape) {
    header h1 {
        padding: 27% 15%;
    }

    header h1 span {
        padding-right: 50%;
    }

    .about {
        margin: 0 auto;
        width: 70%;
    }

    .description.plans {
        padding-top: 50px;
    }

    .imgPosture img {
        width: 100%;
    }


    .pricing div {
        width: 20%;
    }

    .pricing p {
        font-size: 18px;
    }

    .contact {
        padding: 1%;
    }

    .actionBanner {
        padding: 1%;
        margin-bottom: 1%;
    }

    .copyright {
        padding-left: 1%;
    }
}

@media (min-width: 1900px) and (orientation:landscape) {

    nav {
        height: 4vh;
    }

    .navbar {
        height: 4vh;
    }

    .menu {
        height: 4vh;
        line-height: 4vh;
        width: 40%;
    }

    .logo a {
        font-size: 22px;
        padding-left: 100px;
    }

    header h1 {
        padding: 27% 15%;
    }

    header h1 span {
        padding-right: 60%;
    }

    .about {
        margin: 0 auto;
        width: 70%;
    }

    .description {
        width: 35%;
        padding: 1%;
    }

    .imgPosture {
        width: 35%;
    }

}